@charset "UTF-8";



@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Tabletes */
    body{
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }
    section#login{
        width: 80vw;
        height: 35vh;
    }
    section#login > div#imagem{
        background-image: url(../img/pattern-m.jpg);
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#form{
        float: right;
        width: 70%;
        height: 100%;
    }

}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }
section#login{
        width: 950px;
        height: 65vh;
    }
    section#login > div#imagem{
        background-image: url(../img/pattern-g.jpg);
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#form{
        float: left;
        width: 50%;
        height: 100%;
    }
    div#form > p{
        font-size: 1.5em;
    }
    div#form > h1{
        font-size: 2em;
    }
}
